body {
    margin: 40px 10%;
    line-height: 1.6;
    color: #444;
    padding: 0 10px
}
h1, h2, h3 {
    line-height: 1.2;
}
pre code {
    display: block;
    border: 1px solid grey;
    margin-top: -25px;
    margin-bottom: -45px;
}
div.nav {
    text-align: center;
}
